<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket.Q</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400&display=swap" rel="stylesheet"> 

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha512-0S+nbAYis87iX26mmj/+fWt1MmaKCv80H+Mbo+Ne7ES4I6rxswpfnC6PxmLiw33Ywj2ghbtTw0FkLbMWqh4F7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- CSS -->
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/darkMode.css">

  <!-- SCRIPTS -->
  <script src="/scripts/darkMode.js" defer type="module"></script>
  
</head>
<body> 
   <div id="home" class="content">
   
    <header>
      <a href="/">
        <img src="/images/logo.svg" alt="Rocket.Q Logo">
      </a>
      <input type="checkbox" class="checkbox" id="checkbox">
      <label for="checkbox" class="label">
        <i class="fa fa-moon"></i>
        <i class="fa fa-sun"></i>
        <div class="balls"></div>
      </label>
    </header>


    <div id="bg">
      <div class="ball top"></div>
      <div class="ball bottom"></div>
    </div>

    <main>
      <div class="container">
        <!-- VAI RENDERIZA DE FORMA CORRETO DE ACORDO COM A URL -->
        <%- include(`parts/${page}`) %>
      </div>
    </main>
   </div>
</body>
</html>